.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.subContainer {
  width: 1312px;
  padding: 20px 64px;
}

.headerGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  gap: 28px;
}

.headerLinkNav {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 14px 0 14px 0;
}

.headerLinkNav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: var(--animation-hover);
  border-radius: 4px;
}

.headerLinkNavActive::after {
  opacity: 1;
}

.headerActions {
  display: flex;
  gap: 16px;
}

.userInfoBox {
  display: flex;
  align-items: center;
}

.userInfo {
  padding-right: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.25;
  color: var(--accent-color);
}

.logInBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  padding: 14px 0 14px 0;
  display: flex;
  gap: 8px;
  transition: var(--animation-hover);
}

.logInBtn:hover,
.logInBtn:focus {
  color: var(--accent-color);
  transform: scale(1.15);
}

.registrationBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  padding: 14px 39px;
  border-radius: 12px;
  background-color: #121417;
  transition: var(--animation-hover);
}

.registrationBtn:hover,
.registrationBtn:focus {
  background-color: var(--accent-light);
}
