.heroText {
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 98px 108px 98px 64px;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.heroTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.167;
  letter-spacing: -0.02em;
  max-width: 548px;
}

.highlight {
  font-style: italic;
  font-weight: 400;
  background-color: var(--accent-light);
  border-radius: 14px;
}

.heroDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  max-width: 471px;
}

.getStartedButton {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  padding: 16px 88px;
  border-radius: 12px;
  background-color: var(--accent-color);
  display: inline-block;
  transition: var(--animation-hover);
}

.getStartedButton:hover,
.getStartedButton:focus {
  background-color: var(--accent-light);
}
