.teacherMoreInfoReviews {
  display: flex;
  flex-direction: column;
  gap: 32px;
  animation: appearBottom 1000ms ease 1;
}

@keyframes appearBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewHeader {
  display: flex;
  gap: 12px;
  align-items: center;
}

.reviewAvatarBox {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid var(--accent-color);
}

.reviewAuthor {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviewAuthorName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.reviewRatingBox {
  display: flex;
  gap: 8px;
}

.reviewRating {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.286;
}

.reviewComment {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
